<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Building Blox</title>
	<link rel="stylesheet" type="text/css" href="/styles/custom.css">
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/app.js"></script>
</head>
<body>

<header> 
	<h1 id="logo"> Building Blox </h1>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/services">Services</a></li>
		</ul>
	</nav>
</header>

<section>
	<%= yield %> 
</section>

<footer>
	<p>&copy; Building Blox Construction.</p>
</footer>
</body>
</html>