<p id="services">
	Build The Future? <br>
	1-800-555-1234 <br> 
	build@ing.blox
</p>

<script type="text/javascript">
	$(document).ready(function() {
		$('html').css({
			'background': 'url("/images/background.jpeg") no-repeat bottom center fixed',
			'background-size': 'cover'}); 
	}); 
</script>