$background-image: 'images/background.jpg';
$font-default: 16px; 
$font-logo: 'Georgia', serif; 
$font-body: 'Lucidia Grande', 'Courier', sans-serif; 
$color-primary: #E5DB44;
$color-secondary: #464B49; 

html {
	background: url(images/bg.jpg) no-repeat center center fixed; 
}