$background-image: '/images/background.jpeg';
$font-default: 16px; 
$font-size-hero: 4.5rem;
$font-size-body: 2rem;	
$font-line-body: 1.3; 
$font-logo: 'Georgia', serif; 
$font-body: 'Lucidia Grande', sans-serif; 
$color-primary: hsl(56, 76%, 58%);
$color-primary-transparent: hsla(13, 82%, 52%, .9);
$color-secondary: hsl(156, 3%, 28%); 

html {
	background: url($background-image) no-repeat top center fixed;
	background-size: cover; 
	font-family: $font-logo; 
}

body {
	width: 85%;
	margin: 0 auto;
}
header {
	#logo {
		font-family: $font-body;
	}
	margin-top: 2%;
	float: left;
	width: 20%;
	nav {
		margin: 2%;
		li {
			display: block;
			list-style: none; 
		}

		a {
			color: $color-secondary;
			text-decoration: none;
		}

		a:hover {
			color: $color-primary-transparent;
		}
	}
}

section {
	width: 40%;
	float: right;
	color: $color-primary-transparent;
	font-weight: 800;
	margin: 0 auto;
	font-size: $font-size-hero; 
	font-family: $font-logo; 
	#home {
		font-size: $font-size-hero;
		margin-top: 8%;
	}
	#about, #services {
		font-size: $font-size-body;
		line-height: $font-line-body;
	}

	#services {
		padding-top: 18%;
		padding-left: 15%;

		-webkit-transform: rotate(42deg);
	}

}

footer {
	clear: both;
	display: block;
	position: fixed;
	top: 90%;
	left: 5%;
}